@import "_plugins/variable";


@media screen and(max-width: 800px)
{
	section.banner{
		min-height: unset;
		.container-fluid.pt-3.mt-5{
			display: none !important;
		}
		.endor{
			display: none !important;
		}
	}
}


@media screen and(max-width: 550px)
{
	section.banner .trescon-logo img
	{
		max-width: 100px !important;
		margin-bottom: 15px !important;
	}

	section.content .day{
		padding-bottom: 20px !important;
	 span
	{
		font-size: 27px !important;
	}}
	section.banner{
		padding-bottom: 50px !important;

	 h1{
		font-size: 28px !important;
	}
	section.banner{
	.trescon-logo img
	{
		max-width: 100px;
	}}




 .banner-list-dump
	{
		padding-top: 40px !important;
	}
}
.content
{
	

	li.image{
		.ket{
			width: 100%;
			padding-left: 0px !important;
			.col-12{
				padding-left: 0px !important;
			}
		}
	}
	.col-md-10.offset-md-2{
		max-width: 100% !important;

	}
	.float-left.col-9{
		width: 100% !important;
		max-width: 100% !important;
	}
	.float-left.col-3
	{
		width: 100% !important;
		max-width: 100% !important;
		p{
			text-align: left !important;
		}
	}
}
}