* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: lucida_bold;
  src: url("../fonts/lucida_bold.ttf"); }
@font-face {
  font-family: knocout;
  src: url(../fonts/Knockout-HTF70-FullWelterwt.otf); }
@font-face {
  font-family: ninbulsanreg;
  src: url(../fonts/NimbusSanL-Reg.otf); }
@font-face {
  font-family: ninbulsanbold;
  src: url(../fonts/NimbusSanL-Bol.otf); }
.ninbulsan-bold {
  font-family: ninbulsanbold; }

.ninbulsan {
  font-family: ninbulsanreg; }

.knockout {
  font-family: knocout; }

.title, .knockout {
  font-family: knocout;
  font-size: 60px;
  letter-spacing: 0.2px;
  color: #010022; }

.btn-gradient {
  background-image: linear-gradient(248deg, #0b0a34, #4e49cb); }

.text-to-icon {
  padding-bottom: 0em !important;
  margin-bottom: 0em !important; }

.bg-purple {
  background: #4D4ACB;
  color: #fff !important; }

.bg-violet {
  background-color: #0B0A34;
  color: #fff; }

.text-dark {
  color: #040220; }

.btn-custom {
  padding: 10px 30px !important;
  border: 0px;
  color: #fff !important;
  border-radius: unset !important; }

.lucida_bold {
  font-family: lucida_bold; }

.rounded-custom {
  border-radius: 2.5px !important;
  overflow: hidden; }

.btn {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.btn-select {
  background-image: linear-gradient(89deg, #4e49cb, #1d1b61);
  box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.4);
  color: #fff; }
  .btn-select:hover {
    background-image: linear-gradient(89deg, #3F3CA6, #1A1854);
    box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.4);
    color: #fff; }

.btn-select-back {
  background-image: linear-gradient(89deg, #ffffff, #e7e6f6);
  box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.4);
  color: #1d1b61;
  border: 0; }
  .btn-select-back:hover {
    background-image: linear-gradient(89deg, #ffffff, #D7D5E6);
    box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.4);
    color: #1d1b61;
    border: 0; }

.btn-select-back-rotate {
  background-image: linear-gradient(89deg, #e7e6f6, #ffffff);
  box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.4);
  color: #1d1b61;
  border: 0; }
  .btn-select-back-rotate:hover {
    background-image: linear-gradient(89deg, #D7D5E6, #FFFFFF);
    box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.4);
    color: #1d1b61;
    border: 0; }

.bg-primary {
  background-color: #0B0A34 !important; }

.bg-headline {
  background-color: #1B1871 !important; }

.bg-gradient {
  background-image: linear-gradient(89deg, #4e49cb, #1d1b61); }

.bg-gradient-back {
  background-image: linear-gradient(89deg, #ffffff, #e7e6f6); }

.btn-transparent {
  background: transparent !important; }

.text-patern {
  font-size: 25px;
  font-weight: 600; }

.text-patern-desk {
  font-size: 25px;
  font-weight: 500; }

.primary-color {
  color: #717C97; }

.col-setting-5 {
  width: 25%;
  padding: 30px 30px; }

.transition-slow {
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease; }

.transition-slow-in-out {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

.image-over-left-bottom {
  position: absolute;
  bottom: 0;
  left: 0; }

.image-over-right-bottom {
  position: absolute;
  bottom: 0;
  right: 0; }

.image-over-left-top {
  position: absolute;
  top: 0;
  left: 0; }

.image-over-right-top {
  position: absolute;
  top: 0;
  right: 0; }

.normal-hover:hover {
  color: #fff; }

.normal-hover-back:hover {
  color: #1D1B61; }

.btn-carousel {
  margin-left: 10px;
  background: linear-gradient(89deg, #4e49cb, #1d1b61);
  border: 2px solid  #4e49cb;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease; }
  .btn-carousel:hover {
    background: transparent;
    color: #4e49cb; }

footer .navbar-brand .logo {
  background: #302E53 !important;
  border: 1.48px solid #302E53 !important;
  color: #fff !important; }
  footer .navbar-brand .logo .logo-name {
    color: #fff; }
footer .navbar-brand .logo-chevrom {
  color: #fff; }
  footer .navbar-brand .logo-chevrom:before {
    background: #4B4C6E !important; }
footer .navbar-brand .logo-list ul {
  top: -6px;
  background: #302E53 !important; }
  footer .navbar-brand .logo-list ul li {
    background: #302E53 !important;
    color: #fff; }
    footer .navbar-brand .logo-list ul li:hover {
      color: #CCCCCC; }

.navbar-brand {
  position: relative; }
  .navbar-brand .logo {
    position: relative;
    z-index: 99999;
    border: 1.48px solid #2C2F5E !important;
    padding: 0px 10px !important;
    border-radius: 1px;
    font-weight: bold;
    letter-spacing: 1.1px;
    padding-top: 7px !important;
    color: #0D0C33 !important; }
    .navbar-brand .logo:hover + .logo-list {
      display: block; }
    .navbar-brand .logo .logo-name {
      font-family: knocout;
      font-size: 19px; }
    .navbar-brand .logo .logo-chevrom {
      border-left: unset !important;
      position: relative;
      margin-left: 15px; }
      .navbar-brand .logo .logo-chevrom:before {
        content: " ";
        position: absolute;
        left: -5px;
        height: 20px;
        top: 2px;
        width: 2px;
        background: #E4E4E4; }
      .navbar-brand .logo .logo-chevrom i {
        font-size: 14px;
        font-weight: bold; }
      .navbar-brand .logo .logo-chevrom i {
        position: relative;
        top: -5px; }
  .navbar-brand .logo-list {
    display: none;
    position: absolute;
    top: 44px;
    background: transparent;
    left: 0;
    width: 100%;
    padding-bottom: 0px !important; }
    .navbar-brand .logo-list:hover {
      display: block; }
    .navbar-brand .logo-list ul {
      padding-top: 5px;
      padding-bottom: 0px !important;
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
      -o-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
      -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
      -ms-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
      background: #fff; }
      .navbar-brand .logo-list ul li {
        background: #fff;
        font-family: ninbulsanbold;
        padding: 4px 10px;
        list-style: none;
        -webkit-transition: 0.2s ease;
        -moz-transition: 0.2s ease;
        -o-transition: 0.2s ease;
        -ms-transition: 0.2s ease;
        transition: 0.2s ease;
        color: #0D0C33; }
        .navbar-brand .logo-list ul li:last-child {
          border-bottom: 1.5px solid #0D0C33;
          border-bottom-right-radius: 2px;
          border-bottom-left-radius: 2px;
          padding-bottom: 10px; }
        .navbar-brand .logo-list ul li:hover {
          color: #2F2D73; }

.uppercase {
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
  -o-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -moz-text-transform: uppercase; }

/*# sourceMappingURL=component.css.map */
