@import '_plugins/variable';
@font-face{
	font-family: lucida_bold;
	src:url("../fonts/lucida_bold.ttf");
}
@font-face{
	font-family: knocout;
	src:url(../fonts/Knockout-HTF70-FullWelterwt.otf);
}

@font-face{
	font-family: ninbulsanreg;
	src:url(../fonts/NimbusSanL-Reg.otf);
}


@font-face{
	font-family: ninbulsanbold;
	src:url(../fonts/NimbusSanL-Bol.otf);
}


.ninbulsan-bold
{
	font-family: ninbulsanbold;
}
.ninbulsan
{
	font-family: ninbulsanreg;
}

.knockout{
	font-family: knocout;
}
.title , .knockout{
	font-family: knocout;
	font-size: 60px;
	 letter-spacing: 0.2px;
	color: #010022;
}

.btn-gradient{
	background-image: linear-gradient(248deg, #0b0a34,#4e49cb);
}

.text-to-icon
{
	padding-bottom: 0em !important;
	margin-bottom: 0em !important;

}
.bg-purple
{
	background: #4D4ACB;
	color: #fff !important;
}

.bg-violet{
	background-color: #0B0A34;
	color: #fff;
}

.text-dark{
	color: #040220;
}
.btn-custom
{
	padding:10px 30px !important;
	border:0px;
	color: #fff !important;
	
	border-radius: unset !important;

}
.lucida_bold
{
	font-family: lucida_bold;
}
.rounded-custom
{
	border-radius: 2.5px !important;
	overflow: hidden;
}

.btn{
	@include transition(.2s ease-in-out);
}
.btn-select{
	 background-image: linear-gradient(89deg, #4e49cb, #1d1b61);
	 box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.4);
	 color: #fff;
	&:hover
	{
		 background-image: linear-gradient(89deg, #3F3CA6, #1A1854);
  box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.4);
  color: #fff;

	}
}


.btn-select-back{

	 background-image: linear-gradient(89deg, #ffffff, #e7e6f6);
  box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.4);
  color: #1d1b61;
  border:0;


	 
	&:hover
	{
		background-image: linear-gradient(89deg, #ffffff, #D7D5E6);
	 box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.4);
	 color: #1d1b61;
	   border:0;

	}
}


.btn-select-back-rotate
{

	 background-image: linear-gradient(89deg, #e7e6f6 ,#ffffff);
  box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.4);
  color: #1d1b61;
  border:0;


	 
	&:hover
	{
			 background-image: linear-gradient(89deg, #D7D5E6 ,#FFFFFF);
	 box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.4);
	 color: #1d1b61;
	   border:0;

	}
}
//bg
.bg-primary
{
	background-color: #0B0A34 !important;
}
.bg-headline{
	background-color: #1B1871 !important;
}

.bg-gradient{
	background-image: linear-gradient(89deg, #4e49cb, #1d1b61);
}

.bg-gradient-back{
	background-image: linear-gradient(89deg, #ffffff, #e7e6f6);
}



//btn
.btn-transparent{
	background: transparent !important;
}
.text-patern
{
	font-size: 25px;
	font-weight: 600;
}
.text-patern-desk
{
	font-size: 25px;
	font-weight: 500;
}

.primary-color{
	color: #717C97;
}
.col-setting-5
{
	width: 25%;
	padding: 30px 30px;
}

.transition-slow
{
	@include transition(.3s ease);
}
.transition-slow-in-out
{
	@include transition(.3s ease-in-out);
}

.image-over-left-bottom
	{
		
		position: absolute;
		bottom: 0;
		left: 0;	
	}

	.image-over-right-bottom
	{
		
		position: absolute;
		bottom: 0;
		right: 0;	
	}


.image-over-left-top{
	position: absolute;
		top: 0;
		left: 0;
}


.image-over-right-top{
	position: absolute;
		top: 0;
		right: 0;
}

.normal-hover{
	&:hover{
		color: #fff;
	}
}.normal-hover-back{
	&:hover{
		color: #1D1B61;
	}
}

.btn-carousel
{
	margin-left: 10px;
	background: linear-gradient(89deg, #4e49cb, #1d1b61);
	border: 2px solid  #4e49cb;
	padding: 10px;
	color: #fff;
	cursor: pointer;
	@include transition (.2s ease);
		&:hover{
		background: transparent;
		color:  #4e49cb;
	}
}


footer{
	.navbar-brand{
	.logo
	{
		background: #302E53 !important;
		border:1.48px solid #302E53 !important;
		color: #fff !important;
		.logo-name{
			color: #fff;
		}
	}
	.logo-chevrom{
		color: #fff;
		&:before{
			background: #4B4C6E !important;
		}
	}
		.logo-list
		{

			ul{
				top: -6px;
				background: #302E53 !important;
				li{
					background: #302E53 !important;
					color: #fff;
					&:hover{
						color: #CCCCCC;
					}
				}
			}
		}
}}


.navbar-brand
{
	position: relative;
	.logo
	{
		position: relative;
		z-index: 99999;
		border:1.48px solid #2C2F5E !important;
		padding: 0px 10px !important;
		border-radius: 1px;
		font-weight: bold;
		letter-spacing: 1.1px;
		padding-top: 7px !important;
		color: #0D0C33 !important;
		&:hover +  .logo-list{
			display: block;
		}
		.logo-name
		{
			font-family: $knockout;
			font-size: 19px;
		}
		.logo-chevrom 
		{
			border-left: unset !important;
			position: relative;
			&:before{
				content: " ";
				position: absolute;
				left: -5px;
				height: 20px;
				top: 2px;
				width: 2px;
					background: #E4E4E4;
			}
			margin-left: 15px;
				i{
					font-size: 14px;
			font-weight: bold;
				}
				i{
					position: relative;
					top: -5px;
				}
		}
	}
	.logo-list
	{
		display: none;
		position: absolute;
		top: 44px;
		background: transparent;
		left: 0;
		width: 100%;
		padding-bottom: 0px !important;
		&:hover{
				display: block;
			}
		
		ul{
			padding-top: 5px;
			
			padding-bottom: 0px !important;
			@include box-shadow(0px 3px 5px 0px rgba(0,0,0,.08));
			background: #fff;
			li{
				background: #fff;
				font-family: $ninbulsan-bold;
				&:last-child{
					border-bottom:1.5px solid #0D0C33;
					border-bottom-right-radius: 2px;
					border-bottom-left-radius: 2px;
					padding-bottom: 10px;

				}
				//border-bottom: 1px solid #D9D9D9;
				padding: 4px 10px;
				list-style: none;
				@include transition(.2s ease);
				color: #0D0C33;
				&:hover{
					color:#2F2D73; 
				}
			}
		}
	}
}