@import "_plugins/variable";
@media screen and(max-width: 800px)
{
section.banner .banner-canvas .text-title h1
{
	font-size: 45px !important;
}
.banner .social-banner
{
	right: 0px;
}

.mogos 
{
	.canvas{
		img{
			max-width: 100px !important;
			width: 100px;
			
		}
	}
}
}

@media screen and(max-width: 550px){
.modal-speaker-arentr{
	.speaker-content.pt-3
{
	padding-top: 0px !important;
}


.container-fluid	.p-3.px-4
{
	padding-top: 5px !important;
}

}
.modal-speaker .modal-container .modal-bg .speaker-name
{
	padding-top: 10px !important;
}




section.banner{
	.banner-canvas 
	{
		padding-left: 10px !important;
	}
	.social-banner
	{
		width: 100%;
		margin-top: -210px !important;
		position: unset !important;
		ul{
			margin-top: 0px;
			margin-left: -10px;
			position: relative;
			left: -10px;
			justify-content:center;
			display: flex;
			align-items:center;
			position: relative;
			width: 330px;
			margin: 0 auto;
			li{
				float: none ;
				padding-left: 15px;
				&:first-child{
					padding-left: 0px;
				}
				img{
					width: 40px;
	
				}
			}
		}
	}
	.spot{
		font-size: 18px;

	}
	.date{
		font-size: 32px;
	}
}
	
	.buy-ticket 
	{
		.col-md-6.col-6.float-left{
			width: 100% !important;
			max-width: 100% !important;
			float: none;
			clear: both;
			margin:  0 auto;
			padding-left: 0px; padding-right: 0px;
		}
	}
.map
{
	padding-top: 0px !important;
		padding-bottom: 0px !important;
}
.speaker-list
{
	.col-md-6.col-12.float-right
	{
		.float-right
		{
			float: left !important;
			a{
				margin-top: 0px !important;
			}
		}
	}
}

.maps
{
	padding-bottom: 0px !important;
	.row
	{
		min-width: 100% ;
	.col-6.float-left
	{
		width: 100% !important;
		max-width: 100% !important;
		float: none !important;
		clear: both;
		flex: unset !important;
		padding-right: 0px !important;
		img{
			width: 100%;
			height: auto;
			max-height: auto;
		}
	}
}
}
section.sponsor .list-sponsor
{
	width: 50% !important;
}
section.attend-list .owl-carousel
{
	padding: 15px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	.ixon-list
	{
		width: 35px !important;
	}
	li{
		.float-left:last-child{
			max-width: calc(100% - 40px);

		}
	}

}
.attend-list .btn-carousel
{
	bottom: 70px;
	z-index: 9999;
}
.become .col-md-6.col-xs-12.float-left
{
	margin-top: 50px;
}
#user-carousel-slick
{
	width: 100% !important;
	max-width: 100% !important;
}
.user-list .btn-carousel
{
	top: calc(50% + 350px);
}
.about
{
	padding-top:95px !important;
}
.col-4.float-left
{
	display: block !important;
}
.mogos 
{
	.col-12.P-0.pb-2 , .float-left.col-4 
	{
		padding-left: 0px !important;
		padding-top: 10px;
	} 
	.float-left.pl-3
	{
		padding-left: 0px !important;
		width: 100%;
		clear: both;
		float: none !important;
	}

	.float-left.pl-0.pl-md-3.col-8{
		width: 100% !important;
		max-width: 100% !important;
	}
	
}
.mogos .btn-kampre
{
	.canvas
	{
		padding-bottom: 20px !important;
	}
	position: relative;
		top: 100px !important;
		padding-left: 10px !important;
		right: 80px !important;
		padding-top: 15px;
		min-height: 60px;
		width: 100px !important;
}

section.banner
{
	min-height: 710px;
	max-height: 710px;
}
.mogos .bg-tan .image-state
{
	min-height: 285px;
}
section.about p{
	font-style: 14px !important;
}
.become .speaker .col-md-6.col-xs-12.float-left
{
	margin-top: 30px !important;
}
.become .speaker .col-md-6.col-xs-12.float-left:first-child{
	margin-top: 200px !important;
}
section.become .md-title
{
	padding-top: 0px !important;
}
section.subscribe-me
{
	top: -65px !important;
}
.user-list{
	padding-top: 0px !important;
}
.user-list .btn-carousel
{
	top: calc(50% + 112px) !important;
}


section.mogos{
	.btn-kampre
	{
		top: -40px !important;
		position: relative;
		margin: 0 auto;
		width: 200px !important;
		padding-left: 50px !important;
		padding-right: 30px;
		left: calc(100% +  20px) !important;

	}
	.image-state
	{
		width: 100% !important;
		min-width: 100%;
		max-width: 100%;
		flex: 0 0 100%;
		
			.float-left.pl-0.pl-md-3.col-8
			{
				.col-12.P-0.pb-2
				{
					padding-left: calc(50% - 50px) !important;
					padding-top: 15px;

				}
				.float-left.pl-3
				{
					width: 32.33% !important;
					max-width: 33.33%;
					float: left !important;
					clear: unset !important;
					overflow: hidden;
					padding-top: 15px !important;
					min-width: 33.33% !important;
				}
			}
		



	}
.col-12.col-md-10
{
	.float-left.col-4
	{
		clear: both;
		width: 100%;
		max-width: 100%;
		flex:0 0 100%;
		float: none !important;
		display: flex block;
		padding-left: calc(50% - 50px ) !important;
		justify-content:center;
		align-content:center;
		align-items:center;
		position: relative;
		padding-right: 0px !important;
		img{
			margin:0 auto;
			position: relative;

		}
	} 

}
}
}