* {
  margin: 0;
  padding: 0; }

@media screen and (min-width: 1800px) {
  .container {
    max-width: 1440px !important; }

  section.speaker-list .card {
    min-height: 550px !important; } }
@media screen and (min-width: 1440px) {
  .about-text .after-to-big {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 1005 !important;
    flex: 0 0 100%; }

  section.become .full .text_def, section.become .standart .text_def {
    font-size: 16px !important; }

  section.discussion .text-default {
    font-family: ninbulsanreg;
    font-size: 18px; }

  section.blog .card-blog .card-content .blog-title {
    font-size: 20px !important; }

  section.blog .card-blog .card-content .blog-text {
    font-size: 14px !important; }

  section.blog .card-blog .card-content {
    max-height: 330px !important;
    min-height: 330px !important; } }
@media screen and (max-width: 800px) {
  .banner .banner-content .col-md-event .event-list:last-child, .banner .banner-content .col-md-event .event-list:first-child {
    min-height: 450px !important;
    max-height: 450px !important; }

  .banner .banner-content .col-md-event .event-list.now {
    min-height: 510px !important;
    max-height: 510px !important;
    margin-top: -15px !important; }
    .banner .banner-content .col-md-event .event-list.now .align-middle.pt-5 {
      padding-top: 1px !important; }

  .banner .ivent-header .col-md-6 {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    flex: unset !important; }
    .banner .ivent-header .col-md-6 p {
      padding-left: 10px !important;
      padding-right: 10px !important; }
      .banner .ivent-header .col-md-6 p strong {
        font-size: 14px !important; }
    .banner .ivent-header .col-md-6 img {
      left: 0px; }

  .banner .banner-content .col-md-event .ivent-image {
    min-width: 100% !important;
    max-width: 100% !important;
    flex: unset !important;
    padding-left: 0px !important;
    padding-right: 0px !important; }

  .banner {
    padding-bottom: 50px !important; }
    .banner .banner-content {
      padding-bottom: 50px !important; }
    .banner .social-banner {
      position: relative;
      right: 0;
      width: 100% !important; }
      .banner .social-banner ul {
        position: relative;
        margin: 0 auto;
        width: 350px !important;
        min-width: 350px !important; }
        .banner .social-banner ul li {
          float: left !important;
          clear: unset !important;
          padding-left: 10px; }
          .banner .social-banner ul li img {
            max-width: 38px; }

  section.about a {
    position: relative;
    z-index: 9999;
    width: 290px;
    padding-right: 20px !important; }

  section.previous-event .btn-carousel {
    margin-top: 80px; }

  .what-happenings .event-code-list {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    flex: 0 0 50%; }

  .sponsor .nav.nav-pills {
    overflow-x: hidden;
    -moz-overflow-x: hidden;
    -o-overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -ms-overflow-x: hidden; }
  .sponsor .list-sponsor {
    width: 33.333%;
    min-width: 33.33%;
    max-width: 33.33%; }

  .discussion .list-discussion {
    width: 33.33% !important;
    min-width: 33.33% !important;
    max-width: 33.33% !important;
    flex: 0 0  33.33%; }

  section.become .user-def {
    width: 50% !important;
    min-width: 50% !important;
    max-width: 50% !important;
    flex: 0 0 50%;
    min-height: 300px;
    max-height: 300px; }
  section.become .user-def-in {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100%;
    min-height: 300px;
    max-height: 300px; }

  .blog .blog-list {
    width: 50% !important;
    min-width: 50% !important;
    max-width: 50% !important;
    flex: 0 0 50%; } }
@media screen and (max-width: 550px) {
  section.become .card-become.card-2 h1 {
    font-size: 28px !important; }

  .banner .banner-canvas .image-title img {
    width: 165px; }

  .banner .banner-canvas .text-title h1 {
    font-size: 45px; }

  .banner .banner-content {
    overflow: hidden; }
    .banner .banner-content .col-md-event {
      width: 100% !important;
      flex: 0 0 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
      margin-left: 10px !important;
      margin-bottom: 20px !important;
      padding-top: 0px !important;
      margin-top: 20px !important;
      padding-right: 15px !important; }
      .banner .banner-content .col-md-event:first-child {
        order: 2; }
      .banner .banner-content .col-md-event .ivent-header {
        overflow: hidden; }
        .banner .banner-content .col-md-event .ivent-header img {
          width: 100% !important;
          max-height: 200px !important;
          object-position: top;
          object-fit: cover; }

  .banner .banner-content .col-md-event p {
    font-size: 14px !important;
    padding-left: 35px !important; }
    .banner .banner-content .col-md-event p:first-child {
      padding-top: 20px !important; }
    .banner .banner-content .col-md-event p strong {
      font-size: 16px !important; }

  .banner .banner-content .col-md-event .event-list.now .align-middle.pt-5:first-child {
    padding-top: 20px !important; }

  .banner .banner-content .col-md-event .event-list.now {
    min-height: 450px !important;
    height: 450px !important;
    max-height: 450px !important; }

  .banner .social-banner ul {
    width: 300px !important;
    min-width: 300px !important; }

  .banner .banner-content .col-md-event .event-list {
    margin-right: 20px !important; }

  .speaker .container {
    overflow: hidden !important;
    padding-right: 33px !important; }
  .speaker .canvas .canvas-dump .list-speaker {
    padding: 15px !important;
    overflow: hidden;
    box-sizing: border-box; }

  section.about {
    margin-top: -80px !important; }

  h1 {
    font-size: 42px !important; }

  .button-to-owl {
    position: absolute;
    bottom: -50px;
    right: 0;
    z-index: 9999; }
    .button-to-owl .float-right {
      padding-top: 0px !important; }
      .button-to-owl .float-right button {
        margin-top: 0px !important; }

  section.what-happenings {
    padding-top: 100px !important; }

  section.what-happenings .event-code-list {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 1005 !important;
    flex: 0 0  100%; }

  .speaker-list .col-md-6.col-12.float-right .float-right {
    float: left !important; }
    .speaker-list .col-md-6.col-12.float-right .float-right a {
      margin-top: 10px !important; }

  .discussion .list-discussion {
    width: 50% !important;
    min-width: 50% !important;
    max-width: 50% !important; }

  section.sponsor .navbar-tabs {
    overflow-x: scroll;
    -moz-overflow-x: scroll;
    -o-overflow-x: scroll;
    -webkit-overflow-x: scroll;
    -ms-overflow-x: scroll; }
    section.sponsor .navbar-tabs::-webkit-scrollbar {
      width: 0px; }
    section.sponsor .navbar-tabs ul {
      min-width: 500px; }
      section.sponsor .navbar-tabs ul li {
        width: 164px; }

  section.sponsor .list-sponsor {
    width: 50% !important;
    min-width: 50% !important;
    max-width: 50% !important;
    flex: 0 0 50%; }

  section.become {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    section.become .card-become.card-1 h1 {
      font-size: 28px !important; }

  .become .speaker {
    padding-bottom: 0px !important; }
    .become .speaker .container {
      padding-right: 15px !important; }
    .become .speaker .col-md-6.col-xs-12.float-left {
      padding-left: 0px !important;
      padding-right: 0px !important; }

  section.become .speaker-list {
    padding-top: 0px !important; }

  section.become .user-def {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important; }

  section.general button {
    position: relative;
    z-index: 999;
    padding-left: 70px !important;
    padding-right: 70px !important;
    overflow: hidden; }

  .general .container.pt-5 {
    padding-top: 20px !important; }

  section.subscribe h1 {
    font-size: 25px !important; }

  section.subscribe h2 {
    font-size: 14px !important; }

  .blog .blog-list {
    width: 100% !important;
    min-width: 1005 !important;
    flex: 0 0  100%;
    max-width: 100% !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important; }

  section.blog .card-blog .card-foot .col-4.float-left {
    float: none !important;
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0  100% !important;
    display: block !important;
    min-width: 100% !important; }

  section.previous-event .col-md-4.float-right {
    margin-top: -20px !important; }
    section.previous-event .col-md-4.float-right .pt-5.mt-3 {
      padding-top: 0px !important;
      margin-top: 0px !important; }

  section.previous-event .canvas .item .item-content .action a {
    position: relative !important;
    bottom: -180px !important; }

  section.previous-event .canvas .img-endorse {
    padding-top: 10px !important; }

  section.previous-event .canvas .item .item-content {
    padding-left: 20px !important;
    padding-right: 20px !important; }

  section.previous-event .canvas .item img {
    max-height: 50px !important;
    width: auto !important; }

  section.previous-event .canvas .endorse {
    padding-bottom: 0px !important;
    padding-top: 20px !important; }

  section.previous-event .action.mt-5.pt-5 {
    bottom: 60px !important; }

  section.about, section.general, section.blog {
    background-image: unset !important; } }

/*# sourceMappingURL=style-res.css.map */
